body {

    font-family: "Roboto", helvetica, sans-serif;
    padding: 5px 0 0;
    margin: 0;
    font-size: 18px;
}

body * {
    box-sizing: border-box;

}

html {
    background-image: url("mt-background-com.jpg");
    background-repeat : no-repeat;
    background-size : cover;
}

.js-container {
    padding: 0;
    border: 0;
    margin: 0;
}

.logo {
    display: block;
    width: auto;
    height: 220px;
    margin: 0 auto;
}

.app-first-page h2 {
    width: 100%;
    line-height: 38px;
    font-size: 30px;
    font-weight:500 ;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-first-page p {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0;
    color: #696969;
    font-weight: 350;
}

.button-container button {
    display: block;
    width: 20%;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    color: #565656;
    text-align: center;
    padding: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 20px;
    transition: opacity 0.4s;
}

.button-container button:hover,
.button-container button:focus {
    background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.footerInfo {
    text-align: center;
    color: #696969;
    margin: 20px auto;
    border: 0;
    padding: 0;
    font-weight: 550;
    margin-right: 0%!important;
    float: inherit!important;
}


@media only screen and (max-width: 380px) {

    body {
        font-size: 10px;
    }

    .logo {
        width: auto;
        height: 180px;
    }

    .app-first-page h2 {
        width: 100%;
        line-height: 23px;
        font-size: 20px;
    }

    .app-first-page p {
        font-size: 15px;
        text-align: center;
        font-weight: 400;
    }

    .button-container button {
        display: block;
        width: 35%;
        height: auto;
        font-size: 13px;
    }

}

@media only screen and (max-width: 414px) and (min-width: 400px){

    body {
        font-size: 15px;
    }

    .logo {
        width: auto;
        height: 180px;
    }

    .app-first-page h2 {
        width: 100%;
        line-height: 23px;
        font-size: 25px;
    }

    .app-first-page p {
        font-size: 18px;
        text-align: center;
        font-weight: 400;
    }

    .button-container button {
        display: block;
        width: 30%;
        height: auto;
        font-size: 15px;
    }

}

@media only screen and (max-width: 1030px) and (min-width: 765px){

    body {
        font-size: 20px;
    }

    .app-first-page p {
        font-size: 28px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .button-container button {
        display: block;
        width: 40%;
        height: auto;
        font-size: 25px;

    }

    html {
        background-image: url("mt-background-ipod.jpg");
        background-repeat : no-repeat;
        background-size : cover;
    }

}