
body{
  font-family: "Roboto", helvetica, sans-serif;
  padding: 20px 0 0;
  margin: 0;
  font-size: 18px;
}

body * {
  box-sizing: border-box;
  font-weight: 300;
   
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.symbol {
  display: block;
  width: auto;
  height: 180px;
  margin: 0 auto;
}

#menu ul li a {
    color: #000B29;
    transition: .3s;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#menu ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0px;
}

div {
  display: block;
}

#menu-parent {
  text-align: center;
}

.pages {
  display: inline-block; 
  font-size: 0;
  margin-bottom: 30px;
  border: 0.5px solid rgb(169, 169, 169);
  border-radius: 3px;
}

.pages-button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
  border: 0.5px solid rgb(169, 169, 169);
  background: #f1f1f1;
}

.pages a {
  text-decoration: none;
}

.pages a:hover {
  text-decoration: underline;
  font-weight: bold;
  
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  
}

#search {
  height: 37px;
  width: 65%;
  border:1.5px solid rgb(169, 169, 169);
  background: #f1f1f1;
  font-weight: 780;
}

.icon {
  padding: 10px;
  background: #15CD72;
  color: white;
  min-width: 50px;
  text-align: center;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

#search-section{
  text-align: center;
}

.rows {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div.post_log {
    background-color: #f1f1f1;;
    border-radius: 5px;
}

.colm-3, .colm-4, .colm-6, .colm-12 {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.border {
    border: 1.5px solid rgb(169, 169, 169);;
}

.colm-3, .colm-4, .colm-6, .colm-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}

span.result {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left; 
}

.btn-primary {
    color: #fff;
    background-color: #15CD72;
    border-color: #15CD72;
}

.icon:hover {

  background-color: #285730;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;

}

.more-details {
  font-size: 17px;
  padding: 8px 15px;
  text-align: center;
  display: block;

}

.more-details a {
  text-decoration: none;
}

 a:hover {
  text-decoration: underline;
  font-weight: bold;
  color:#285730;
  
}

.footer {
  color:	#484848;
  margin: 10px auto;
  border: 0;
  padding: 0;
  display: block;
  float: right;
  margin-right: 5%;
  font-size: 15px;
}

@media only screen and (max-width: 325px) {
#search {
  font-weight: 600;
  font-size:11px;
}

body {
  font-size: 13px;
}

span.result {
    font-size: 0.8rem;
}

.pages-button {
  font-size: 14px;
}

.more-details {
    font-size: 0.8rem;   
}

.footer {
  font-size: 11px;
}

}

@media only screen and (max-width: 380px) and (min-width: 330px) {

#search {
  font-weight: 600;
  font-size:11px;
}

}

@media only screen and (max-width: 1030px) and (min-width: 765px){

#search {
  font-weight: 600;
  font-size:18px;
}

body {
  font-size: 25px;
}

.symbol {
  width: auto;
  height: 220px;
}

span.result {
    font-size: 1.5rem; 
}

.pages-button {
  font-size: 24px;
}

.more-details {
    font-size: 1.6rem;
    
}


}
    



