body {

    font-family: "Roboto", helvetica, sans-serif;
    padding: 10px 0 0;
    margin: 0;
    font-size: 18px;
}

body * {
    box-sizing: border-box;

}

/* Potentially tricky: fieldset comes with default styles we must override. */
fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.symbol {
    display: block;
    width: auto;
    height: 160px;
    margin: 0 auto;
}

.signup-form {
    width: 400px;
    padding: 20px;
    border-radius: 3px;
    background:#f1f1f1;
    margin: 0 auto;
}

.signup-form legend {
    width: 100%;
    line-height: 38px;
    font-size: 30px;
    font-weight: 500;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* The button ultimately gets a different background
color below, but it largely overlaps with email/password
input styling, so we include it in the same style block, then
override parts of it in its own declaration. */
input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"] {
    display: block;
    width: 100%;
    height: auto;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 5px auto 20px;
    transition: opacity 0.4s;
}

button[type="submit"] {
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: white;
    background: #15CD72;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;

}

/* Tricky! A Firefox bug makes our focus outlines disappear,
  so we have to restore them ourselves. This focus outline is an
  a11y MUST for keyboard users! Note that we are NOT expecting you
  to know this. You can read more about the issue & the fix at:

  https://thinkful-ed.github.io/firefox-focus-bug-demo/
  */
input[type="email"]:focus,
input[type="password"]:focus,
button[type="submit"]:focus {
    /* Restore desirable focus behavior
    in non-webkit browsers like Firefox */
    outline: auto 2px #87ceeb;
    /* Preseve default focus behavior in webkit browsers */
    outline: auto 5px -webkit-focus-ring-color;
    box-shadow: 0;
}


button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color:#285730;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.signup-form p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 0;
    color: #696969;
}

.signup-form a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
    border-color: #999;
    color: #777;
}

.hidden {
    display: none;
}

/* footer */
.footer {
    text-align: center;
    color: black;
    margin: 20px auto;
    font-weight: 600;
    border: 0;
    padding: 0;
    float: revert;
}

.footer a {
    color:black;
}

.footer a:hover {
    color: darkblue;
}

@media only screen and (max-width: 380px) {

    body {
        font-size: 14px;
    }

    .symbol {
        width: auto;
        height: 160px;
    }

    .signup-form {
        width: 270px;

    }

    .signup-form legend {
        font-size: 25px;
    }

}

@media only screen and (max-width: 414px) and (min-width: 400px){

    body {
        font-size: 15px;
    }

    .symbol {
        width: auto;
        height: 160px;
    }

    .signup-form {
        width: 280px;

    }

    .signup-form legend {
        font-size: 26px;
    }

}


@media only screen and (max-width: 1030px) and (min-width: 765px){

    body {
        font-size: 25px;
    }

    .symbol {
        width: auto;
        height: 200px;
    }

    .signup-form {
        width: 500px;

    }

    .signup-form legend {
        font-size: 35px;
    }

    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        width: 100%;
        height: auto;
        font-size: 22px;

    }

    button[type="submit"] {
        height: auto;
        font-size: 30px;
    }

}